---
import fs from "node:fs";
// import ScriptToggleDarkMode from './ScriptToggleDarkMode.astro';

// Import the common.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.

interface Props {
	title: string;
	description: string;
}
const siteUrl = new URL(import.meta.env.BASE_URL, Astro.site);
const socialImageURL = new URL("/logo.png", siteUrl);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const siteTitle = siteUrl.hostname;
const url_goatcounter = "https://tokipona-net.goatcounter.com";

const { title, description } = Astro.props;
---

<!-- Global Metadata -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1' />
{
	fs.existsSync("public/favicon.svg") && (
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
	)
}
{
	fs.existsSync("public/favicon.png") && (
		<link rel='icon' type='image/png' href='/favicon.png' />
	)
}
<link rel='sitemap' href='/sitemap-index.xml' />
<meta name='generator' content={Astro.generator} />
<meta name='robots' content='index, nofollow' />

<!-- Font preloads -->
<link rel='preconnect' href='https://fonts.googleapis.com' />
<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
<link
	href='https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Emoji:wght@300..700&display=swap'
	rel='stylesheet'
/>

<!-- Canonical URL -->
<link rel='canonical' href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name='title' content={title} />
<meta name='description' content={description} />

<!-- Open Graph / Facebook -->
<meta property='og:type' content='website' />
<meta property='og:url' content={Astro.url} />
<meta property='og:site_name' content={siteTitle} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:image' content={socialImageURL} />

<!-- Twitter -->
<meta property='twitter:card' content='summary' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
<meta property='twitter:image' content={socialImageURL} />

<!-- Analytics -->
<script
	is:inline
	data-goatcounter={`${url_goatcounter}/count`}
	async
	src='//gc.zgo.at/count.js'></script>

<!-- Toggle scripts -->
<!-- <ScriptToggleDarkMode /> -->
<!-- Astro components CSS -->

<slot />
