---
import IframeSrcdoc from "@/components/IframeSrcdoc.astro";
interface Props {
	name: string;
	id: string;
}
const { name, id } = Astro.props;
---

<style>
	.container {
		box-sizing: content-box;
		position: relative;
		width: 100%;
		padding-bottom: 56.25%;
		overflow: hidden;
		max-width: 1280px;
		margin: 0 auto;
		border: 3px solid var(--card-border);
		border-radius: var(--rounding-small);
	}

	.container * {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
</style>

<div class="container">
	<IframeSrcdoc
		title={name}
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		referrerpolicy="strict-origin-when-cross-origin"
	>
		<style is:inline>
			html,
			body {
				height: 100%;
				padding: 0;
				margin: 0;
			}
			a {
				text-decoration: none;
				color: inherit;
			}
			.thumbnail {
				position: absolute;
				z-index: 0;
				width: 100%;
				top: 0;
				bottom: 0;
			}
			.title {
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				right: 0;
				height: 1em;
				padding: 1em;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				font-family: sans-serif;
				font-size: 1.2rem;
				font-weight: bold;
				background: linear-gradient(#000d, #0008, #0000);
				color: white;
			}
			.play {
				position: absolute;
				z-index: 1;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
			.playbutton {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);

				color: white;
				font-size: 2rem;
				text-shadow: 0 0 0.5em black;
			}
		</style>
		<img
			class="thumbnail"
			src={`https://i.ytimg.com/vi_webp/${id}/mqdefault.webp`}
		/>
		<a
			class="title"
			href={`https://www.youtube.com/watch?v=${id}`}
			target="_blank">{name}</a
		>
		<a class="play" href={`https://www.youtube.com/embed/${id}?autoplay=1`}>
			<span class="playbutton">▶</span>
		</a>
	</IframeSrcdoc>
</div>
