---
import * as howDoesItWork from '@/content/faq/how-does-it-work.md';
import * as isItReal from '@/content/faq/is-it-real.md';
import * as whatDoesItMean from '@/content/faq/what-does-it-mean.md';
import * as whatIsTokiPona from '@/content/faq/what-is-toki-pona.md';
import * as whatSoundLike from '@/content/faq/what-sounds-like.md';


import Layout from '@/layouts/Layout.astro';

const faq = [
	whatIsTokiPona,
	isItReal,
	howDoesItWork,
	whatDoesItMean,
    whatSoundLike
];

// fetch all questions, omit the ones we already have
// append any that were missing to the end
const allEntries = import.meta.glob('@/content/faq/*.md', { eager: true });
const manualImports = new Set(faq.map((item) => item.file));

const headings = faq.flatMap((item) =>
	item.getHeadings().filter((heading) => heading.depth <= 2),
);
---

<style>
	.right-toc {
		position: sticky;
		top: 1rem;
		line-height: 1.7;
	}
	.small-toc {
		display: none;
		margin-bottom: 0.5rem;
	}
	@media only screen and (max-width: 1200px) {
		.right-toc {
			display: none !important;
		}
		.small-toc {
			display: block;
		}
	}
	ol li {
		& a {
			color: var(--foreground);
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&::marker {
			content: counter(list-item) '  ';
			color: var(--foreground-muted);
			width: 2ch;
			text-align: right;
			padding-right: 1ch;
			display: block;
		}
	}
	.kasi {
		display: flex;
		list-style-type: none;
		row-gap: 1em;
		flex-wrap: wrap;
		justify-content: space-evenly;
		max-width: 40em;
		margin: 0 auto;
	}
	.kasi li {
		margin: 0;
		aspect-ratio: 1 / 1;
		max-width: 10em;
		position: relative;
		display: grid;
		grid-template-rows: max-content 1fr;
		box-shadow: rgba(195, 187, 24, 0.25) 0px 30px 60px -12px inset, rgba(239, 242, 205, 0.3) 0px 18px 36px -18px inset;
	}
	.kasi a{
		text-align: center;
		background-color: rgb(22, 33, 22);
		display: grid;
		color: lightcyan;
		text-decoration: none;
		padding: 1em 0.25em;
	}
	.kasi span{
		align-self: center;
	}
	.kasi a::after{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		right:0;
		left: 0;
	}
    .faq {
        display: grid;
        grid-template-columns:  auto minmax(175px, auto);
        column-gap: 0.5em;
        justify-content: space-evenly;
        max-width: 50em;
        margin: 0 auto;
        
        .plant-card {
            align-self: center;
            border-radius: var(--rounding-large);
            max-width: 200px;
            margin-block: 1em;
        }
        .intro {
            background-color: rgb(22, 33, 22);
            color: lightcyan;
            border-radius: var(--rounding-small);
            padding: 1em;
            grid-column: 1 / 3;


        }
        
        .plant-card:not(.intro) {
            background-color: var(--card-background);
            align-self: center;
            border-radius: var(--rounding-large);
            max-width: 225px;
            border: 0.3em solid var(--card-border);


            dl{
                font-family: sans;
                font-size: 0.8em;
                margin: 0;
                padding: 0.5em 1em;
                line-height: 1em;
                text-align: justify;

            }
            dd {
                display: inline;
                margin: 0;
                padding: 0;
                width: 100%;
                max-width: 200px;

                div:has(img) {
                    display: block;
                    margin: 1em 1em 1em 1em;

                }
                
                img {
                    display: inline-block;
                    width: 100%;
                    background: var(--scene-background);
                    border: 0.3em solid var(--link);
                    border-radius: var(--rounding-large);
                    box-shadow: rgba(195, 187, 24, 0.25) 0px 30px 60px -12px inset, rgba(239, 242, 205, 0.3) 0px 18px 36px -18px inset;

                }

            }

            dt{
                display: inline;
                margin: 0 1em 0 0;
                font-weight: 800;
                text-transform: uppercase;
                font-size: 0.8em;
            }
            .plant-name {
                display: grid;
            }

        }
        .entry{
            text-align: left;
            max-width: 30em;

        }
        
        
    }

    .garden {
            width: 100%;
            max-width: 50em;
            margin: 0 auto;
            display: flex;
            flex-wrap: nowrap;
            position: relative;
            top: 0.4em;

            img {
                max-width: 100%;
                user-drag: none;
                user-select: none;


            }


            

    }
    @media (max-width: 35em ){
        .faq{
            grid-template-columns: 1fr;
            justify-items: center;

            .plant-card:not(.intro) dt.plant-name{
                display: inline;
            }
            .intro {
                grid-column: auto;
            }


        }

    }


</style>

<Layout
	title={'The Basics | Toki Pona'}
	description={'This is a test page.'}
>
	<section style='grid-area: right;' class='right-toc'>
		<nav>
			<ol>
				{
					headings.map((item) => (
						<li>
							<a href={`#${item.slug}`}>{item.text}</a>
						</li>
					))
				}
			</ol>
		</nav>
	</section>
	<section style='grid-area: left;'>
		<h1>The Basics</h1>

        

		<details open class='small-toc'>
			<summary>Table of Contents</summary>
			<ol>
				{
					headings.map((item) => (
						<li>
							<a href={`#${item.slug}`}>{item.text}</a>
						</li>
					))
				}
			</ol>
		</details>

    <div class="garden">

    {faq.map((item) => 
        <div>
            <img src={`/sitelen/kasi/${item.frontmatter.image}`}>
        </div>
        
    )}

    </div>
        
<div class="faq">
    




    <div class="intro">
        <p>What this language's deal?</p>
        
        <p>Is it even a language? Here, we provide a basic profile of what the language is.</p>
    </div>

    {faq.map((item) =>
    <div class="entry">
        <item.Content />
    </div>
    <div class="plant-card">
        <dl>
            <dt class="plant-name">Specimen</dt>
            <dd>{item.frontmatter.species}
            <div><img src={`/sitelen/kasi/${item.frontmatter.image}`}></div>
            </dd>

            <dt>Notes</dt>
            <dd class="plant-notes">{item.frontmatter.species_notes}</dd>
        </dl>
    </div>
    )}
</div>
	</section>
</Layout>
